# Machin Learning Spring1400
## Homework1 / Question 5
#### Mohammad Naseri (810100486)

<hr>

### IMAGE CLASSIFIER

### Import Libraries

In [47]:
from matplotlib.pyplot import imread
import matplotlib.pyplot as plt
import pandas as pd
from PIL import Image
import numpy as np
import os
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

### Load images and transform them into Dataframe of variables
each RGB value in dataframe demonstrates mean of all pixels in image

In [48]:
img_folder = r"F:\University\Master's\Machine Learning\Homeworks\HW1\Q5_Dataset\Images"
#listing files in images folder
list_img = os.listdir(img_folder)
img_array = []

#iterating over img_folder to get the images as arrays
for image in sorted(list_img):
    [file_name, ext] = os.path.splitext(image) #splitting file name from its extension
    arr = np.array(Image.open(os.path.join(img_folder, image))) #creating arrays for all the images
    [h, w] = np.shape(arr)[0:2]#calculating height and width for each image
    arr_dim = arr.ndim #calculating the dimension for each array
    arr_shape = arr.shape #calculating the shape for each array
    if arr_dim == 2:
        arr_mean = np.mean(arr)
        print(f'[{file_name}, greyscale={arr_mean:.1f}]')
    else:
        arr_mean = np.mean(arr, axis=(0,1))
        img_array.append([file_name, arr_mean[0], arr_mean[1], arr_mean[2]])
df = pd.DataFrame(img_array, columns=['Name', 'Red', 'Green', 'Blue'])
df

    Name         Red       Green        Blue
0     c1   99.342832  113.614983  146.863646
1    c10  171.011949  172.716610  188.238031
2    c11   45.925127   44.929975   50.240636
3    c12   81.862262  103.776071   93.958968
4    c13   95.693808   96.277181   77.880597
..   ...         ...         ...         ...
117  m63   90.870490   51.835165   49.745241
118  m64  164.054403   98.920874  101.097524
119  m65   96.577187   78.754863   52.778779
120  m66  106.561280   77.438620   71.205458
121   m9   84.003067   88.440243   95.798447

[122 rows x 4 columns]

### Add Labels for each image and it's data

In [49]:
for index, row in df.iterrows():
    if 'c' in row['Name']:
        df.loc[index,'Class'] = "Chelsea"
        df.loc[index,'Class_id'] = 1
    else:
        df.loc[index,'Class'] = "Manchester"
        df.loc[index,'Class_id'] = 0

df

    Name         Red       Green        Blue       Class  Class_id
0     c1   99.342832  113.614983  146.863646     Chelsea       1.0
1    c10  171.011949  172.716610  188.238031     Chelsea       1.0
2    c11   45.925127   44.929975   50.240636     Chelsea       1.0
3    c12   81.862262  103.776071   93.958968     Chelsea       1.0
4    c13   95.693808   96.277181   77.880597     Chelsea       1.0
..   ...         ...         ...         ...         ...       ...
117  m63   90.870490   51.835165   49.745241  Manchester       0.0
118  m64  164.054403   98.920874  101.097524  Manchester       0.0
119  m65   96.577187   78.754863   52.778779  Manchester       0.0
120  m66  106.561280   77.438620   71.205458  Manchester       0.0
121   m9   84.003067   88.440243   95.798447  Manchester       0.0

[122 rows x 6 columns]

### Split labels from data

In [50]:
X = df[["Red","Green","Blue"]].values.tolist()
y = df.Class_id.values.tolist()
print("X: ", X)
print("y: ", y)

X:  [[99.34283159463487, 113.6149826130154, 146.86364629905614], [171.01194911223843, 172.7166098604946, 188.23803107165503], [45.92512667660208, 44.92997516145057, 50.240635866865375], [81.86226190476191, 103.77607142857143, 93.95896825396825], [95.6938081603436, 96.27718126143323, 77.88059731169967], [72.4855614973262, 76.99094870271341, 71.51647851059616], [97.01216790123456, 95.61353086419753, 99.74332839506172], [91.48692316864741, 96.37970507571843, 91.56840494455264], [64.497494999901, 59.50507930850116, 71.51961424978713], [93.18649638649639, 99.31878031878031, 100.21112761112761], [64.59003399746996, 63.86385199240987, 60.49454459203036], [42.56133134624938, 38.58541480377546, 42.55076005961252], [59.64912871287129, 65.71952475247525, 81.87093069306931], [121.54965596786381, 107.87859443980432, 134.94612814699917], [79.6267719965154, 85.21770808584779, 89.2752039280906], [79.61770895374231, 77.30895374230693, 99.77450863609292], [91.056978360135, 81.00220369267421, 90.18548739328966], [85.99980182322632, 96.60366627031311, 102.53761395164487], [93.87205060078519, 87.67795534758298, 84.79835031922909], [58.27298144035533, 75.70564324238579, 76.78985564720813], [50.845148735056995, 47.15119742642678, 59.75370348306128], [65.67643195478247, 79.23995939975322, 119.52758428531624], [57.8173869846001, 54.99612518628912, 69.5297565822156], [53.73235762644365, 47.86027479091995, 51.10511748307447], [109.90623015873015, 108.74833333333333, 123.82734126984127], [92.51311547187836, 81.50893603470924, 99.43207419496079], [117.43941767068273, 135.68417670682732, 57.83730923694779], [74.61775563671007, 70.75400920927278, 79.45329866624326], [94.3140150459738, 132.52342475022888, 83.8354495880269], [40.04694218824653, 38.653686892817326, 42.8889751552795], [73.9546348733234, 80.20234475906607, 106.13180327868852], [67.10866151124188, 75.92079995228913, 83.81114446454485], [99.54581278837205, 107.58727895601893, 102.24246024673756], [96.80641828117238, 100.46634873323399, 121.30497764530551], [118.69732345679013, 124.63535802469136, 139.41467654320988], [85.90447170557974, 104.197150771666, 84.87402057776019], [86.18686507936508, 75.33672619047618, 79.5825], [96.12538829151733, 97.14609717244126, 96.51027479091995], [103.57297791196568, 120.21595423486413, 79.70771094867312], [111.63646825396826, 107.92753968253969, 136.8036111111111], [72.6886040735221, 72.04232488822653, 86.47290611028316], [36.837496274217585, 28.299652260307997, 33.64421261798311], [92.80238774055596, 101.76730418943534, 109.03902352102637], [117.43941767068273, 135.68417670682732, 57.83730923694779], [58.27882624621755, 58.38801958910655, 71.47975394171047], [66.65086625086624, 64.85842985842986, 79.24033264033264], [85.72095518118245, 73.8387833757152, 94.19906230133503], [115.98194716921309, 118.47597249469909, 125.87394724847908], [54.28871250099467, 53.00513248985438, 66.77771146653934], [61.249365280863216, 58.050380831482066, 53.18678594097112], [107.83683219347805, 126.01011002081475, 129.8091188423035], [65.11138298718866, 64.54364605713376, 74.57111880321477], [65.60473860109812, 57.73804408371131, 75.06027691573168], [89.96753968253968, 92.41297619047619, 121.58232142857143], [87.55827123695975, 94.04349726775956, 147.33879781420765], [80.65632936507936, 82.37517857142858, 109.52188492063492], [62.42912227699157, 78.90803386865956, 50.29344887899507], [51.945042076849795, 48.04912273737695, 59.316072562718325], [163.87140873015872, 171.02775793650792, 176.6245634920635], [61.249365280863216, 58.050380831482066, 53.18678594097112], [45.22734846080609, 45.92712630910822, 64.6653443351317], [70.0350521609538, 82.7527868852459, 66.61826130153999], [42.806507936507934, 48.10803571428571, 71.95811507936509], [94.08743528474712, 95.59042214257268, 95.61003584229391], [106.07102329087807, 102.28423203586874, 79.81773995159307], [109.1175956284153, 100.97561847988078, 71.70587183308494], [143.92530748716317, 127.23627751462803, 116.56967718823388], [139.0534523809524, 130.2042261904762, 124.11498015873016], [111.18452807646356, 49.13628036638789, 50.0268418956591], [102.02307004470939, 71.90358668653751, 61.62688524590164], [51.365424739195234, 35.09812220566319, 38.18213611525087], [127.27044212617983, 109.19372081470442, 90.62028812717337], [70.48914774990044, 51.18845081640781, 52.539625647152526], [88.33614097968936, 70.42439267224213, 61.91877737953007], [124.0806692263314, 81.06861360335807, 62.12845405534446], [116.22174945576884, 85.50269147041361, 90.86970116762319], [69.74623732572877, 46.65654705323194, 48.978018060836504], [127.5351743840019, 59.54812919096933, 47.16936475816371], [138.32644841269843, 78.0419246031746, 69.59843253968253], [77.90573737856347, 61.836996336996336, 38.67544593088071], [110.81063321385902, 84.13502588610116, 76.32383512544803], [53.742647641696394, 35.93573127229489, 36.415239793896156], [99.23491640657615, 58.77381070711488, 55.83187881438483], [75.94066567312468, 26.727789369100844, 23.84121212121212], [144.11236888976845, 110.65802493568178, 108.71696022165051], [152.85503968253968, 104.2010119047619, 101.02882936507936], [99.50638222081494, 96.18461934258178, 79.03356355504542], [100.6890896787804, 62.37632846395733, 64.29053058949967], [78.25030198617794, 75.08810075447039, 52.831561021010316], [150.7720634920635, 146.72593253968253, 70.50214285714286], [130.40693786570074, 88.167515822155, 97.17298889463838], [157.13369047619048, 106.75734126984128, 82.57402777777777], [97.19779674473997, 66.8117903930131, 65.92743152044461], [108.51855158730159, 91.7825, 73.5493253968254], [78.99227024341778, 65.06924987580726, 69.81158469945355], [115.42648347272004, 80.32064914376743, 72.66706491437674], [95.08086215818174, 69.64910639652908, 60.09662460693389], [137.35028562361154, 96.41831958108537, 102.43416772453189], [115.33150978176845, 60.819944104180294, 52.32928980595033], [105.74428274428274, 86.55321255321255, 70.57479457479458], [73.92435218723878, 53.13481670182701, 48.20188671735063], [75.9022671022671, 81.59592119592119, 72.16344916344916], [111.7277380952381, 50.44603174603174, 45.98878968253968], [102.89766521567076, 116.70599525128611, 73.07526711515631], [104.7996831996832, 65.97257697257697, 65.74735174735174], [74.5685618729097, 49.46407156003246, 44.061091211335615], [121.11232734944075, 88.77795247382876, 87.55604426222983], [138.32846208756345, 80.36550206218274, 68.81236119923858], [77.0312921125644, 59.183868410622274, 52.95933412604043], [55.18634884090187, 49.45961019371229, 45.91074547475389], [81.87451564828613, 56.995946348733234, 47.128007948335814], [84.69569016881827, 46.1775769612711, 40.70911618669315], [149.94804858622064, 101.27301871764237, 100.98643966547192], [83.1495816314391, 51.898044969663324, 44.53021771027481], [51.94831429367512, 30.102734546033513, 28.906997571946025], [85.72782222222222, 47.38091851851852, 55.33594074074074], [60.78688492063492, 40.10785714285714, 39.36224206349206], [90.87048984468339, 51.83516527279968, 49.745240939864594], [164.05440348307292, 98.9208740234375, 101.09752360026042], [96.57718720228644, 78.75486265481105, 52.77877897745316], [106.56128034269396, 77.43862049817547, 71.20545771854673], [84.00306650736758, 88.44024293110314, 95.79844683393071]]
y:  [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

### Classify using multinomial naiive bayes (Supervised)

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)
clf = MultinomialNB()
y_pred = clf.fit(X_train, y_train).predict(X_test)
acc_score = accuracy_score(y_test, y_pred)
conf_mat = confusion_matrix(
        y_test, y_pred, labels = [0, 1])
pr_score = precision_score(y_test, y_pred)
re_score = recall_score(y_test, y_pred)
print("Accuracy of model is: ", acc_score)
print("Percision of model is: ", pr_score)
print("Recall of model is: ", re_score)
print("Confusion matrix of model is: \n", conf_mat)

Accuracy of model is:  0.8979591836734694
Percision of model is:  0.8888888888888888
Recall of model is:  0.9230769230769231
Confusion matrix of model is:
 [[20  3]
 [ 2 24]]

### Classify using comparison of RED and BLUE values (Unsupervised)

In [52]:
y_pred2 = []
for img in X:
    if img[0] > img[2]:
        y_pred2.append(0)
    else:
        y_pred2.append(1)

acc_score = accuracy_score(y, y_pred2)
conf_mat = confusion_matrix(
        y, y_pred2, labels = [0, 1])
pr_score = precision_score(y, y_pred2)
re_score = recall_score(y, y_pred2)
print("Accuracy of model is: ", acc_score)
print("Percision of model is: ", pr_score)
print("Recall of model is: ", re_score)
print("Confusion matrix of model is: \n", conf_mat)

Accuracy of model is:  0.8442622950819673
Percision of model is:  0.9787234042553191
Recall of model is:  0.71875
Confusion matrix of model is:
 [[57  1]
 [18 46]]